* {
  box-sizing: border-box;

  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 20px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  transition: 0.3s;
}

.nav-link:hover {
  color: #bdae82;
}

.icon {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  margin-left: 20px;
}

.icon:hover {
  fill: #bdae82;
}

.lang-switch {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
}

.lang-switch span:hover {
  color: #bdae82;
}

.hero-container {
  background-image: url("./assets/img/header-bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  padding-bottom: 330px;
  padding-right: 860px;
}

.hero-content h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
  padding-bottom: 10px;
}

.hero-content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  padding-bottom: 25px;
  width: 470px;
}

button {
  height: 55px;
  width: 220px;
  background-color: #bdae82;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  font-family: "Inter";
  font-size: 20px;
  color: #000;
  text-align: center;
}

.transparent-button {
  height: 55px;
  width: 220px;
  background-color: black;
  border-radius: 0px;
  border: 1px solid #bdae82;
  cursor: pointer;
  font-family: "Inter";
  font-size: 20px;
  color: #bdae82;
}

.skills,
.portfolio,
.video,
.price,
.contacts {
  background-color: #000;
}

.wrapper {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
}

.section-title {
  position: relative;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #bdae82;
  background-color: #000;
  width: 220px;
  display: inline-block;
  vertical-align: middle;
}

.section-title::after,
.section-title::before {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #bdae82;
  top: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #bdae82;
}

.skills {
  height: 482px;
  padding: 100px 20px 0px 20px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}

.skill-item {
  background-position: center top;
  text-align: center;
}

.skill-item:nth-child(1) {
  background-image: url("./assets/svg/camera.svg");
  background-size: 62px 50px;
  background-repeat: no-repeat;
}

.skill-item:nth-child(2) {
  background-image: url("./assets/svg/video.svg");
  background-size: 62px 50px;
  background-repeat: no-repeat;
}
.skill-item:nth-child(3) {
  background-image: url("./assets/svg/retouch.svg");
  background-size: 62px 50px;
  background-repeat: no-repeat;
}

.skill-item:nth-child(4) {
  background-image: url("./assets/svg/audio.svg");
  background-size: 62px 50px;
  background-repeat: no-repeat;
}

.item-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  padding-top: 100px;
}

.item-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 20px;
  width: 280px;
}

.portfolio {
  height: 1500x;
  padding-top: 100px;
}

.block-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 60px;
  gap: 5px;
}

.block-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.video,
.price,
.contacts {
  padding-top: 100px;
}

.video-player {
  padding-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-button {
  position: absolute;
  background-color: transparent;
  height: 130px;
  width: 130px;
}

.player-button:hover {
  position: absolute;
  background-color: transparent;
}

.icon-play {
  width: 130px;
  height: 130px;
  fill: #ffffff;
  vertical-align: middle;
}

.icon-play:hover {
  fill: #bdae82;
}

.price-cards {
  display: flex;
  padding-top: 60px;
  justify-content: space-around;
}

.price-card {
  border: 1px solid #bdae82;
  padding: 43px;
  width: 450px;
}

.price-title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.price-subtitle {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-description {
  padding-bottom: 40px;
}
.price-description span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.card-button {
  display: block;
  margin: 0 auto;
}

.contacts-container {
  background-size: 700px;
  height: 700px;
  background-position: center center;
  background: url("./assets/img/contacts-bg.jpg");
  padding-right: 20px;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 60px;
}

.contacts-title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
  margin-bottom: 45px;
}

.input,
.textarea {
  border: 2px solid #bdae82;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: transparent;
  width: 450px;
  resize: none;
  font-family: "Inter";
  margin-bottom: 20px;
  padding-top: 5px;
}

.input {
  height: 50px;
}

.textarea {
  height: 100px;
}
.input::placeholder,
textarea::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding-left: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}

.footer-container {
  height: 150px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}

.footer-data,
.rss-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}

.footer-data a,
.rss-link a,
.socials a {
  text-decoration: none;
  color: #ffffff;
}

.footer-data a:hover,
.rss-link a:hover {
  color: #bdae82;
}
